.ownStyleForm {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/header-2.jpeg") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  padding: 0 16px;

  form {
    background-color: #fff;
    width: 450px;
    padding: 16px;
    border-radius: 8px;

    .err{
      color: red;
      display: flex;
      align-items: start;
    }
  }
  
}
