.navbar {
    .navLink {
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.55);
      border-bottom: 3px solid transparent;
      transition: 0.7 all;
      &:hover {
        color: #000;
        border-color: #000;
      }
    }
    a.myActive {
      color: #000;
      border-color: #000;
    }
  }