@import "../../../../scss/variable.module.scss";

.backgroudColor{
    background-color: $backgroundColor;
    padding: 48px 0 96px 0;
    margin-top: 48px;
    .quote{
        width: 40px;
    }
    .textAlign{
        text-align: justify;
    }
    .userImg{
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
}