.navbar {
  .navLink {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.55);
    border-bottom: 3px solid transparent;
    transition: 0.7 all;
    &:hover {
      color: #000;
      border-color: #000;
    }
  }
}
.cardText {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  padding-left: 46px;
  .textTitle{
    font-size: 4rem !important;
  }
}

@media only screen and (max-width: 1024px) {
  .cardText {
    padding-left: 16px;
    justify-content: center;
    align-items: end;
    width: 100%;
    .textDisplayNone{
      display: none;
    }
    .textTitle{
      font-size: 2rem !important;
    }
  }
}
