.footer{
    background-color: #C1DCDC;

    h2{
        font-family: 'Roboto Slab', serif;
    }
    .footerNetworkIcon{
        width: 40px;
        height: 40px;
        border: 1px solid #000;
        border-radius: 50%;
        transition: 0.3s all;
        cursor: pointer;

        &:hover{
            color: #fff;
            background-color: #000;
        }
    }
    .footerDescription{
        color: #9c9c9c;   
    }
}
